<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cars</key>
	<array>
		<array>
			<string>Renault</string>
			<string>Citroën</string>
			<string>Peugeot</string>
			<string>Hyundai </string>
			<string>Saab</string>
		</array>
		<array>
			<string>Jaguar</string>
			<string>Bentley</string>
			<string>Lotus Car</string>
			<string>Rolls Royce</string>
			<string>Land Rover </string>
			<string>MG Cars</string>
			<string>Lagonda</string>
			<string>Morgan Motor</string>
			<string>Aston Martin Car</string>
			<string>McLaren </string>
		</array>
		<array>
			<string>General Motors</string>
			<string>Tesla Motors</string>
			<string>Cadillac</string>
			<string>Chevrolet </string>
			<string>Ford</string>
			<string>Chrysler</string>
			<string>Buick</string>
			<string>Dodge</string>
			<string>Jeep</string>
			<string>Lincoln </string>
			<string>Hummer</string>
			<string>PONTIAC </string>
		</array>
		<array>
			<string>Ferrari</string>
			<string>Lamborghini</string>
			<string>Bugatti</string>
			<string>Alfa</string>
			<string>Diatto</string>
			<string>Maserati</string>
			<string>Fiat</string>
			<string>Iveco</string>
			<string>Lancia</string>
			<string>Bertone</string>
		</array>
		<array>
			<string>Porsche</string>
			<string>Audi</string>
			<string>Volkswagen</string>
			<string>Benz</string>
			<string>BMW</string>
			<string>MINI</string>
			<string>Opel</string>
			<string>Gumpert</string>
			<string>Brabus</string>
			<string>Alpina</string>
		</array>
		<array>
			<string>Lexus</string>
			<string>Toyota</string>
			<string>Honda</string>
			<string>Nissan</string>
			<string>MItsubishi</string>
			<string>Mazda</string>
			<string>Subaru</string>
			<string>Infiniti</string>
			<string>Acura</string>
			<string>Isuzu</string>
		</array>
	</array>
	<key>watches</key>
	<array>
		<string>ROLEX</string>
		<string>OMEGA</string>
		<string>Patek Philippe</string>
		<string>VACHERON CONSTANTIN</string>
		<string>Audemars Pigue</string>
		<string>Lange &amp; Söhne</string>
		<string>Breguet</string>
		<string>Jaeger-LeCoultre</string>
		<string>BREITLING</string>
		<string>TAG Heuer </string>
		<string>FRANCK MULLER</string>
		<string>CARTIER</string>
		<string>PANERAI</string>
		<string>BVLGARI</string>
		<string>IWC</string>
	</array>
</dict>
</plist>
