<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>時計</key>
	<dict>
		<key>Rolex</key>
		<dict>
			<key>名前</key>
			<string>Rolex</string>
			<key>画像</key>
			<string>Rolex.jpg</string>
			<key>コメント</key>
			<string>ほげほげ</string>
		</dict>
	</dict>
	<key>自動車</key>
	<dict>
		<key>Japan</key>
		<dict>
			<key>Toyota</key>
			<dict>
				<key>名前</key>
				<string>Toyota</string>
				<key>画像</key>
				<string>Toyota.logo.jpg</string>
				<key>コメント</key>
				<string>んがんが</string>
			</dict>
			<key>Lexus</key>
			<dict>
				<key>名前</key>
				<string>Lexus</string>
				<key>画像</key>
				<string>lexus.logo.jpg</string>
				<key>コメント</key>
				<string>ほげほげ</string>
			</dict>
		</dict>
		<key>Germany</key>
		<dict>
			<key>Porsche</key>
			<dict>
				<key>名前</key>
				<string>Porsche</string>
				<key>画像</key>
				<string>Porsche.jpg</string>
				<key>コメント</key>
				<string>ほげほげ</string>
			</dict>
			<key>BMW</key>
			<dict>
				<key>名前</key>
				<string>BMW</string>
				<key>画像</key>
				<string>image2.jpg</string>
				<key>コメント</key>
				<string>ふがふが</string>
			</dict>
		</dict>
		<key>Italy</key>
		<dict>
			<key>Ferrari</key>
			<dict>
				<key>名前</key>
				<string>Ferrari</string>
				<key>画像</key>
				<string>Ferrari.jpg</string>
				<key>コメント</key>
				<string>ほげげ</string>
			</dict>
		</dict>
		<key>UK</key>
		<dict>
			<key>Jaguar</key>
			<dict>
				<key>名前</key>
				<string>Jaguar</string>
				<key>画像</key>
				<string>Jaguar.jpg</string>
				<key>コメント</key>
				<string>ほげほげ</string>
			</dict>
			<key>Bentley</key>
			<dict>
				<key>名前</key>
				<string>Bentley</string>
				<key>画像</key>
				<string>Bentley.jpg</string>
				<key>コメント</key>
				<string></string>
			</dict>
			<key>Lotus Car</key>
			<dict>
				<key>名前</key>
				<string>Lotus Car</string>
				<key>画像</key>
				<string>Lotus.jpg</string>
				<key>コメント</key>
				<string></string>
			</dict>
		</dict>
		<key>US</key>
		<dict>
			<key>General Motors</key>
			<dict>
				<key>名前</key>
				<string>General Motors</string>
				<key>画像</key>
				<string>GM.jpg</string>
				<key>コメント</key>
				<string>ほげほげ</string>
			</dict>
		</dict>
		<key>others</key>
		<dict>
			<key>Hyundai</key>
			<dict>
				<key>名前</key>
				<string>Hyundai</string>
				<key>画像</key>
				<string>Hyundai.jpg</string>
				<key>コメント</key>
				<string>ほげ</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
